<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <h1>Team Name: <%= param[:name] %></h1>
     <h2>Coach: <%= params[:coach] %></h2>
     <h2>Pointing Guard: <%= params[:pg] %></h2>
     <h2>Shooting Guard: <%= params[:sg] %></h2>
     <h2>Small Forward: <%= params[:sf] %></h2>
     <h2>Power Forward: <%= params[:pf] %></h2>
     <h2>Center: <%= params[:c] %></h2>
     <p>Point Guard: <input type="text" name="point_guard"/></p>
     <p>Shooting Guard: <input type="text" name="shooting_guard"/></p>
     <p>Small Forward: <input type="text" name="small_forward"/></p>
     <p>Power Forward: <input type="text" name="power_forward"/></p>
     <p>Center: <input type="text" name="center"/></p>
   </form>
 </body>
</html>
